

body {
    text-align: center;
    justify-content: center;
}
.small-text{
    font-size: small;
}
#bigBox{
    border: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 2px;
    margin: 10px;
    flex-wrap: wrap;
    max-width: 550px;
    text-align: start;
    padding: 30px;
}
#biggerBox{
    justify-content: center;
    display: flex;
}
.underline{
    color: rgb(1, 1, 153);
    font-size: larger;
    margin: 2px;
    font-weight: bolder;
}
.aboveUnderline{
    margin:8px;
}
